.rightBar {
  overflow-y: scroll;
  overflow-x: hidden;

  color: #808080;

  background-color: #0D0F11;

  border: 2px var(--bar-border-color) solid;
  border-right: none;
  border-top: none;
  border-bottom: none;

  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 20px;
  width: 500px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  box-shadow: 0px 4px 38px -38px rgba(255, 255, 255, 0.7) inset;
}

.rightBar > div {
  /* margin: 10px 0 20px 0; */
  margin-left: 30px;

  text-align: start;
}

.rightBar .infoBlock > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightBar .infoBlock .infoBlockTitle {
  /* margin-left: 30px; */

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.nodeInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;

  box-sizing: border-box;

  border: gray 2px solid;
  margin-right: 10px;
  padding: 10px 5px 10px 5px;
}

.nodeInfoTitle {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  font-size: 13px;

  box-sizing: border-box;

  padding: 0px 5px;

  cursor: pointer;

  background-image: var(--dropdown-icon-808080);
  background-repeat: no-repeat;
  background-position: right+2px center;
}

.nodeInfoInner {
  display: none;
  margin: 10px 0px;

  flex-direction: column;
  /* justify-content: start; */
  /* align-items: flex-start; */
  gap: 10px;

  transition: all 1s;
}

.nodeInfoInner div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
} 

.nodeInfoInner div span {
  font-weight: 300;
}

.actionBlock {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.actionBlock input {
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1em;
  background-color: #484848;
  color: white;
  cursor: pointer;
}

.actionBlock input:hover {
  background-color: #2e2e2e;
  color: white;
}

.actionBlock input:active {
  background-color: #696969;
  color: white;
}

.infoBlock .nodeImg {
  width: 80%;
}

.infoBlock .nodeImg > img {
  width: 100%;
}

.openHideBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border: var(--secondary-color) 2px solid;
  border-radius: 4px;
  padding: 10px
}

.limitInputBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;;
}

.openLimit {
  height: 30px;
  width: 100%;

  padding-left: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #c3c3c3;

  border-radius: 4px;
  border: none;

  background-color: var(--secondary-color);
}

.openLimit:focus {
  color: #0D0F11;
  background-color: var(--secondary-color-lighter);
}

.graphLayoutHandler {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  
}

.graphLayoutHandler div {
  margin: 0;
}

.glTitle {
  margin-left: 5px;
}

.glType {
  padding: 5px 10px;
  background: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
}

.glType:hover {
  background: var(--secondary-color-lighter);
}

.glType:active {
  background: var(--secondary-color-darker);
}