.checkBoxBlock {
    display: flex;
    flex-direction: row;
    gap: 5px 100px;
    flex-wrap: wrap;

    min-height: 25px;
    box-sizing: content-box;

    padding: 10px 10px;

    overflow-y: scroll;

    /* border: rgba(255, 255, 255, 0.777) .1px dashed; */
    border-radius: 4px;
    background-color: var(--secondary-color);
}

::-webkit-scrollbar {
    display: none;
}

.checkBoxBlock>div {
    position: relative;
    /* width: 10em; */

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px 50px 5px 5px;

    box-sizing: content-box;

    border-radius: 4px;

    z-index: 100;
}

.checkBoxBlock .checked {
    background-color: #2D4231;
    color: #808080;
}

.checkBoxBlock .unchecked {
    background-color: #545c55;
    color: #9e9e9e;
}

.checkBoxBlock .unchecked i {
    color: rgba(0, 0, 0, 0.3)
}

.checkBoxBlock div span {
    font-size: 14px;
    font-weight: 400;

    margin-left: 7px;
}

.checkBoxBlock div i {
    position: absolute;
    right: 10px;

    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

#checkboxClose {
    position: absolute;
}


#uncheckedBlock span {
    font-size: 10px;
}

#uncheckedBlock i {
    font-size: 10px;
}

.checkBoxBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 7px 0;

    color: #fff;
    font-size: 14px;

}

.checkBoxBtns div {
    text-align: center;
    padding: 5px 4px;

    cursor: pointer;

    background-color: rgba(201, 201, 201, 0.3);
    border-radius: 4px;
}

.checkBoxBtns div:hover {
    background-color: rgba(201, 201, 201, 0.5);
}

.checkBoxBtns div:active {
    background-color: rgba(201, 201, 201, 0.2);
}