@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --text-color: #ffffff;
  --main-color: #17191C;
  --secondary-color: #606060;
}

.App {
  text-align: center;
}

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: var(--main-color);
  color: white;
}
.logo {
  font-family: 'Montserrat';
  font-weight: 700;
}
.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 0 30px;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.nav-back {
  box-shadow: 0px 4px 33px -6px rgba(255, 255, 255, 0.07);
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 150px;
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
  list-style: none;
  font-family: 'Montserrat';
  font-weight: 400;
}
.nav-links {
  text-decoration: none;
  color: #ffffff;
}
.nav-links:hover {
  color: var(--secondary-color);
  transition: 0.3s ease;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Register Student Forms*/
.registerForm {
  margin-top: 70px;
  position: relative;
  left: 52%;
  transform: translate(-50%);
  width: 80%;
  font-family: 'Montserrat';
}

/* Search bar */ 
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border-right: none;
  border: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #ffffff;
  background-color: #17191C;
  border-bottom: 2px solid rgb(255, 255, 255);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
}

.searchButton {
  font-family: 'Montserrat';
  font-weight: 500;
  width: 80px;
  height: 33px;
  /* border: 1px solid #00B4CC; */
  background: #17191C;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
  border: none;
}
.searchButton:hover {
  color: #606060;
  transition: 0.3s ease;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  margin-top: 50px;
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.resultOfSearch {
  margin-top: 130px;
}


/* CHECK */
.unfinished {
  color: #6b6b6b;
}
.finished {
  color: #afe6c5;
}

.school {
  display: flex;
  top: 100px;
  position: relative;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.title h1 {
  font-size: 4em;
  letter-spacing: 4px;
}

.title h1 span {
  color: var(--secondary-color);
}

.CompBin {
  font-size: 1.5em;
  color: var(--secondary-color);
  margin-top: -40px;
}

.statCard {
  margin: 60px 0 0 0;
  display: flex;
  flex-direction: column;
}

.statCard h2 {
}

.statCard h1 {
  font-size: 2.5em;
  letter-spacing: 4px;
}

.statList {
  text-align: start;
  font-size: 1.5em;
  font-weight: 500;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.statList li {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 7px;
}

.statList li span {
  color: var(--text-color);
  text-align: center;
  font-size: 5em;
  font-weight: 700;
}

.studTitle {
  font-size: 2.5em;
  letter-spacing: 4px;
}

.studList {
  display: flex;
  flex-direction: column;

  justify-content: start;
  gap: 50px;

  margin-top: 150px;
}

.marginTop {
  margin-top: 130px;
  position: absolute;
}

/* new */
.mainSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px 0;
  gap: 20px;

  width: 100%;
  height: 90vh;
}

.leftBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;

  padding-top: 20px;
  margin-left: 20px;

  width: 20%;
  border: 1px black solid;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.leftBar form {
  display: flex;
  flex-direction: column;

  gap: 5px;

  width: 90%;
}

.leftBar div {
  margin: 10px 20px;

  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftBar select {
  width: 100%;
  height: 35px;
  font-size: 1.2rem;
  padding: 5px;

  border-radius: 2%;
}

.leftBar #input_IIN {
  height: 35px;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  padding: 5px;
}

.leftBar .checkboxBlock {
  display: flex;
  flex-direction: column;

  /* border: 1px solid red; */
  padding: 10px 0px;
  background-color: #4f4e4e;
}

.leftBar .checkboxBlock div {
  display: flex;
  flex-direction: row;
}

.leftBar #filterBtn {
  margin: auto;
  width: 65%;
  height: 50px;

  font-size: 1.2em;
  border-radius: 10px;
  color: #ffffff;

  border: none;
  background-color: rgba(40, 40, 40, .8);
}

.leftBar #filterBtn:hover {
  background-color: rgba(40, 40, 40, .6);
}

.leftBar #filterBtn:active {
  background-color: rgba(40, 40, 40, 1);
}

.centralBar {
  display: flex;
  flex-direction: column;

  width: 62%;
}

.rightBar {
  border: 1px black solid;
  background-color: var(--secondary-color);

  padding-top: 20px;
  /* padding-left: 5px; */
  margin-right: 20px;
  /* border: 1px blue dashed; */
  width: 12%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;

}

.rightBar .nodeInfoTitle {
  font-size: 1.6em;
}

.rightBar .nodeHints {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.rightBar .nodeHints .nodeHint {
  box-sizing: content-box;
  /* width: 100%; */
  border-radius: 20px;
  padding: 15px;
  font-size: 1.3rem;

  color: black;
}

.nodeHint_green {
  background-color: #73ca74;
}

.nodeHint_red {
  background-color: #b56060;
}

.rightBar .nodeInfoBlock {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 50px; */
  gap: 10px;

  font-size: 1.2rem;
  font-weight: 700;
}

.rightBar .nodeInfoBlock span {
  font-weight: 300;
}

.rightBar .infoBlock {
  margin-top: 40px;
}

.rightBar hr {
  border: 2px solid rgb(47, 47, 47);
}

.rightBar .infoBlock div {
  margin-top: 30x;
}

.rightBar .infoBlock div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rightBar .infoBlock .infoBlockTitle {
  font-size: 1.6em;
}

/* Node Title Block styles */
.centralBar div:nth-child(2) {
  box-sizing: border-box;

  border: 1px black solid;
  background-color: var(--secondary-color);

  text-align: start;
}

.nodeTitleBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 10px;
}

.nodeTitleBlock p {
  padding: 0;
  margin: 0;
}

.nodeTitleBlock h3 {
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;

  border-bottom: 2px black solid;
  text-align: center;
}

.nodeTitleBlock span {
  font-weight: 700;
}