@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --text-color: #ffffff;
  --main-color: #17191C;

  --nav-bar-color: #0D0F11;

  --bar-color: #141719;
  --bar-border-color: #414141;
  --secondary-color: rgba(255, 255, 255, 0.11);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  -moz-overflow: -moz-hidden-unscrollable;
}

html {
  background-color: var(--bar-color);
  color: white;
}

a {
  text-decoration: none;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}