th a {
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.3);
  }
.userDetailsBlock {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    padding-top: 70px;
}

.userDetailsBlock > div {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 1100px;
}

.userDetailsBlock > div > div:nth-child(1) {
    
}

/* .dopInfa {
    width: max-content;
    display: block;
} */

#connections {
    border-radius: 4px 0 0 4px;
    font-size: 15px;
    width: 25%;
    height: 33px;
}
.userFirstBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.userFirstBlock button {
    font-size: 15px;
    border-radius: 0 4px 4px 0;
    background-color: rgb(192, 192, 192);
    padding: 5px 10px;
    cursor: pointer;
    height: 33px;
    border: none;
    transition: all ease 0.2s;
}
/* .changeRole {
    border: none;
} */

.userFirstBlock button:hover {
    background-color: rgb(133, 133, 133);
    transition: all ease 0.2s;
}

/* .userFirstBlock button:active {
    background-color: rgba(255, 255, 255, 0.4);
} */

.userInfo {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* border: red 1px solid; */
}

.userInfo > div {
    margin: 0;
}

.userInfo > div:nth-child(1) > span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
}

.userInfo > div:nth-child(1) {
    font-size: 35px;
}

.userInfo > div:nth-child(1) > span:nth-child(1) {
    color: #ffffff;
}

.userInfo > div:nth-child(1) > span:nth-child(2) {
    color: #616161;
}

.userInfo > div:nth-child(2) {
    color: #808080;
    margin-top: -2px;
    margin-left: 2px;
}

.countStatsUser {

    display: flex;
    flex-direction: row;
    gap: 20px;

    /* flex-wrap: wrap; */

    /* border: red 1px solid; */
}

.countStatsUser > div {
    width: 324px;

    border: 1px rgba(255, 255, 255, .4) solid;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

    padding: 15px 0 0 15px;
    border-radius: 2px;

}

.countStatsUser > div div:nth-child(1) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;

    color: #717171;
}


.countStatsUser > div:nth-child(2) div:nth-child(2),
.countStatsUser > div:nth-child(3) div:nth-child(2) 
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;

    margin-left: 0px;
    margin-top: -8px;
}

.countStatsUser > div:nth-child(1) div:nth-child(2),
.countStatsUser > div:nth-child(1) div:nth-child(3) 
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    margin-left: 0px;
    margin-top: -8px;
}

.countStatsUser > div:nth-child(1) div:nth-child(1) {
    margin-bottom: 15px;
}


/* .table {
    padding: auto;
} */

.dopInfa {
    display: table-cell;
    padding-left: 3%;
    padding-right: 1%;
    visibility: collapse;
}

.searchUsers {
    background: none;
    color: #ffffff;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(143, 143, 143);
    font-size: 1em;
    transition: all ease .5s;

    padding-bottom: 10px;
    margin-bottom: 30px;
}

.searchUsers:focus {
    border-bottom: 1px solid white;
    transition: all ease .5s;
}


.grid-container {
    display: grid;
    /* display: inline-grid; */
  grid-template-columns: 5% 30% 30% 30% 5%;
}
.grid-header {
    font-weight: 700;
    font-size: 1.5em;
    text-align: start;
}
.grid-body {
    font-weight: 700;
    font-size: 1.5em;
    text-align: start;
}

.table {
    /* display: grid; */
  /* border-collapse: collapse;
  min-width: 100%; */
  /* grid-template-columns: 
    minmax(5%)
    minmax(30%)
    minmax(30%)
    minmax(30%)
    minmax(5%) */
    /* display: grid; */
    /* display: inline-grid; */
  /* grid-template-columns: 5% 30% 30% 30% 5%; */
}

th, td {
    /* border-bottom: 1px solid #ffffff; */
    
    padding-bottom: 10px;
  }

/* .showLog:hover {
    color: #616161;
    cursor: pointer;
} */
.arrow-down {
    color: #ffffff;
    cursor: pointer;
    transition: all ease 0.2s;

}
.arrow-down:hover {
    color: #a3a3a3;
    transition: all ease 0.2s;

}

