* {
    text-align: start;
}


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    position: relative;
    flex: 1;
}

.bgImage {
    position: absolute;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    right: 0px;
    bottom: 0px;

    background: url("./mainPageBG.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 700px;

    z-index: -3;
}

.comName {
    display: flex;
    flex-direction: column;

    margin: 7% 0 0 0;    
}

.comName div {
    margin: 0;
    padding: -5px 0;

    box-sizing: content-box;


    font-weight: 700;
    font-size: 7.2rem;;
    line-height: 80%;
    /* border: blue 1px solid; */
}

.comName div:nth-child(1) {
}

.comName div:nth-child(2) {
    

    color: var(--bar-color);
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.actionBtn {
    /* margin: 50px 0 0 0; */
    margin: 15% 0 0 0;
    /* border: greenyellow 1px solid; */
}

.actionBtn div {
    position: relative;
}

.actionBtn .tryBtn {
    width: 150px;

    text-align: center;

    cursor: pointer;
    background-color: #2D4231;
    color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    letter-spacing: .1em;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 140%;
}

.actionBtn .tryBtn:hover {
    background-color: #3c5942;
}

.actionBtn .tryBtn:active {
    background-color: rgb(50, 74, 54);
}